/************************************* Rows & Columns ***********************************/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  /* border: solid 2px black; */
}

.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-md-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

/************************************** Text Alignment ***********************************/
.text-center {
  text-align: center !important;
}

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

/*********************** margin *************************/
.ms-2 {
  margin-left: 1em;
}
.ms-3 {
  margin-left: 1rem !important;
}
.ms-4 {
  margin-left: 3rem !important;
}
.ms-5 {
  margin-left: 3.5em !important;
}

.ms-auto {
  margin-left: auto !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}

.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}

.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}

.pt-1 {
  padding-top: 0.5em;
}
.pb-1 {
  padding-bottom: 0.5em;
}

.pb-02 {
  padding-bottom: 0.2em;
}
.pb-01 {
  padding-bottom: 0.1em;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.m-0 {
  margin: 0 !important;
}

/****************************** Borders *******************************/
.border {
  border: 1px solid black;
}
.borderBottom {
  border-bottom: 4px solid black !important;
}

.border-bottom {
  border-bottom: 2px solid black !important;
}

.border-bottom-1 {
  border-bottom: 1px solid black !important;
}
.border-dark {
  /* --bs-border-opacity: 1; */
  border-color: rgba(33, 37, 41, 1) !important;
}

/* .border-3 {
  --bs-border-width: 3px;
} */

/****************************** Heading *******************************/

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  /* color: var(--bs-heading-color); */
}
h1,
  .h1 {
    font-size: 2.5rem;
}

h5,
.h5 {
  font-size: 1.5em !important;
  font-weight: bold;
}

h4,
  .h4 {
    font-size: 1.8rem;
}

h6,
.h6 {
  font-size: 1.3rem;
}

/*********************************** Font Weight *************************/

.fw-bold {
  font-weight: 700 !important;
}


/*********************************** Flex *****************************/
.d-flex {
  display: flex !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.align-self-center {
  align-self: center !important;
}

/***************************** Table ********************************/

table {
  /* border-collapse: collapse; */
  width: 100% !important;
}

.table th,
.table td {
  /* padding: 0.75rem; */
  vertical-align: top;
  font-size: 0.8em !important;
}

th {
  /* border-top: 1px solid black; */
  /* font-family: 'Roboto'; */
  font-size: 1em !important;
}

td {
  border-bottom: 1px solid black;
  /* font-family: 'Arial'; */
  font-size: 1em !important;
  padding-top: 1em !important;
}
.table thead th {
  /* vertical-align: bottom; */
  border-bottom: 2px solid black;
}

.table tbody + tbody {
  border-top: 2px solid black;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}
